<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
    #foreach($field in ${table.fields})
        #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
        #end
    #end
        #foreach($field in ${table.commonFields})##生成公共字段
            <result column="${field.name}" property="${field.propertyName}"/>
        #end
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}"/>
        #end
    #end
    #foreach($key in ${foreignKeys})
        <association property="${key.foreignClassName}" javaType="${package.Entity}.${key.foreignTableInfo.entityName}">
            #foreach($field in ${key.foreignTableInfo.fields})
                #if(${field.name}=="id")
            <id column="fk_${key.foreignTableInfo.name}_id" property="${field.propertyName}" />
                #else
            <result column="fk_${key.foreignTableInfo.name}_${field.name}" property="${field.propertyName}"/>
                #end
            #end
        </association>
    #end
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        #foreach($field in ${table.commonFields})
        ${field.name},
        #end
        ${table.fieldNames}
    </sql>
#if(!$null.isNull(${foreignKeys})&&$foreignKeys.size()>0)
    <select id="list${table.entityName}" resultMap="BaseResultMap">
        select #foreach($key in ${foreignKeys})
                   #foreach($field in ${key.foreignTableInfo.fields})
               ${key.foreignTableInfo.name}.${field.name} as fk_${key.foreignTableInfo.name}_${field.name},
                   #end
               #end    ${table.name}.*
        from ${table.name}
        #foreach($key in ${foreignKeys})
        inner join ${key.foreignTableName} on ${key.tableName}.${key.column} = ${key.foreignTableName}.${key.foreignColumn}
        #end
        ${ew.customSqlSegment}
    </select>
#end

#if(!$null.isNull(${foreignKeys})&&$foreignKeys.size()>0)
    <select id="page${table.entityName}" resultMap="BaseResultMap">
    select #foreach($key in ${foreignKeys})
        #foreach($field in ${key.foreignTableInfo.fields})
            ${key.foreignTableInfo.name}.${field.name} as fk_${key.foreignTableInfo.name}_${field.name},
        #end
         #end    ${table.name}.*
    from ${table.name}
    #foreach($key in ${foreignKeys})
    inner join ${key.foreignTableName} on ${key.tableName}.${key.column} = ${key.foreignTableName}.${key.foreignColumn}
    #end
    ${ew.customSqlSegment}
</select>
#end
</mapper>
